# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
[Dd]esktop.ini

# IDE & Editor Files
.vscode/
.idea/
*.swp
*.swo

# Local Scratch & Logs
*.log
scratch/

# Vercel CLI
.vercel
